<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/style.css')}}"
    />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="container"><h1>Admin Panel</h1>
        <form method="POST" action="{{ url_for('routes.logout_page') }}">
            <button type="submit" class="header-btn">Logout</button>
        </form>
    </div>
</header>
{% block body %}{% endblock %}
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"
></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
